<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey.portable" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-vscode.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chromium" />
  <package id="cs-script" />
  <package id="cs-syntaxer" />
  <package id="dejavufonts" />
  <package id="dismplusplus" />
  <package id="dngrep" />
  <package id="gh" />
  <package id="gnuwin32-coreutils.install" />
  <package id="gnuwin32-m4" />
  <package id="goreleaser" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3118401" />
  <package id="lsd" />
  <package id="make" />
  <package id="mc" />
  <package id="nano-win" />
  <package id="neovim" />
  <package id="netfx-4.6.2" />
  <package id="notepadplusplus.commandline" />
  <package id="notepadplusplus.install" />
  <package id="notepadplusplus-npppluginmanager" />
  <package id="notepadplusplus-plugin.template" />
  <package id="npppluginmanager" />
  <package id="nvim-ui" />
  <package id="Opera" />
  <package id="PowerShell" />
  <package id="powershell-core" />
  <package id="programmersnotepad.install" />
  <package id="ripgrep" />
  <package id="ruby.install" />
  <package id="rubymine" />
  <package id="sublimemerge" />
  <package id="sublimetext2" />
  <package id="SublimeText2.PowershellAlias" />
  <package id="swig" />
  <package id="unxUtils" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vim-tux.install" />
  <package id="vim-x64.install" />
  <package id="Wget" />
  <package id="wimlib" />
  <package id="windowgrid" />
  <package id="winfetch" />
  <package id="winflexbison3" />
  <package id="wsudo" />
  <package id="wxwidgets" />
  <package id="zoxide" />
</packages>